@import url("../css/normalize.css");
@font-face {
  font-family: 'metropolisregular';
  src: url("../assets/fonts/metropolis-normal-400-100-webfont.woff2") format("woff2"), url("../assets/fonts/metropolis-normal-400-100-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'metropolismedium';
  src: url("../assets/fonts/metropolis-normal-500-100-webfont.woff2") format("woff2"), url("../assets/fonts/metropolis-normal-500-100-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'metropolisbold';
  src: url("../assets/fonts/metropolis-normal-700-100-webfont.woff2") format("woff2"), url("../assets/fonts/metropolis-normal-700-100-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*, *::before, *::after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

body, html {
  width: 100%;
  height: 100%;
  font-family: "metropolisregular";
  color: #121212;
  padding: 0;
  margin: 0; }

img {
  width: 100%; }

hr {
  color: #CACACA;
  margin-bottom: 39px; }

.main-container {
  width: 1270px;
  margin: 0 auto;
  padding: 0 24px; }

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0; }

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px; }

.nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

ul {
  font-family: "metropolisregular";
  list-style-type: none;
  padding: 0;
  margin: 0; }

.header-nav-menu ul li {
  display: block;
  margin-left: 20px; }

.btn {
  font-family: "metropolisregular";
  padding: 19px 24.8px 19px 25px;
  border-radius: 12px;
  background: #FFF;
  line-height: 18px;
  cursor: pointer;
  position: relative; }

.btn-primary {
  color: #121212;
  font-size: 16px;
  border: 1px solid #EDEDED;
  margin-right: 18px;
  box-shadow: 0px 2px 6px 0px rgba(16, 16, 16, 0.04); }

.btn-secondary {
  color: #FFF;
  border: 1px solid #FF5634;
  background: #FF5634; }

.full-content {
  background-color: #FAFAFA; }

.hero-banner-content {
  padding-top: 70px;
  padding-bottom: 152px; }

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.hero-image {
  max-width: 531px; }

.orange-content {
  font-family: "metropolisbold";
  font-size: 18px;
  color: #FF5634;
  text-transform: uppercase; }

.hero-content h3 {
  margin-top: 22px;
  color: #121212;
  font-family: "metropolisbold";
  font-size: 62px; }

.hero-content p {
  color: #656565;
  margin-top: 17px;
  font-family: "metropolisregular";
  font-size: 18px; }

.hero-rel-img {
  display: flex;
  position: absolute;
  right: -46px;
  top: 244px; }
  .hero-rel-img .burger-image {
    width: 239px; }
  .hero-rel-img img {
    border-radius: 12px;
    box-shadow: 0px 2px 6px 0px rgba(16, 16, 16, 0.04); }
  .hero-rel-img .bike-image {
    margin-top: 180px;
    margin-left: 71px;
    width: 290px;
    align-self: flex-end; }

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px; }
  .counter div {
    font-family: "metropolisbold";
    text-align: center; }
  .counter h2 {
    display: inline-block;
    color: #121212;
    font-size: 52px; }
  .counter span {
    color: #FF5634;
    font-size: 52px; }
  .counter p {
    color: #656565;
    font-family: "metropolismedium";
    font-size: 18px; }

.first-section {
  margin-top: 200px;
  margin-bottom: 200px; }

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px; }
  .section-container img {
    width: 597px; }

.section-margin {
  margin-bottom: 100px; }

.__content-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px; }
  .__content-first h3 {
    font-family: "metropolisbold";
    font-size: 44px;
    line-height: 53.99px; }
  .__content-first p {
    font-family: "metropolisregular";
    color: #656565;
    font-size: 18px; }

.second-container {
  margin-top: 16px;
  margin-bottom: 48px; }

.right-side {
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px; }

.card-body {
  padding: 60.995px 74.03px 60.975px 54px;
  border-radius: 24px;
  border: 1px solid #EDEDED;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(16, 16, 16, 0.08); }
  .card-body .second-orange {
    font-size: 21px; }
  .card-body .second-h3 {
    font-size: 24px; }

.second-main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.second-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #FAFAFA; }

.third-section {
  margin-top: 200px;
  margin-bottom: 200px; }

.third-container {
  text-align: center; }

.third-container-figure {
  margin-top: 109px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.third-image-body {
  text-align: center; }
  .third-image-body img {
    width: 218px; }
  .third-image-body h2 {
    margin-top: 32px;
    font-family: "metropolisbold";
    font-size: 27px;
    line-height: 40.01px; }
  .third-image-body p {
    margin-top: 16px;
    font-family: "metropolisregular";
    color: #656565;
    font-size: 18px;
    line-height: 30.01px; }

.second-card {
  width: 48%;
  padding: 100px 67px 104px;
  border-radius: 24px;
  border: 1px solid #EDEDED;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(16, 16, 16, 0.08); }
  .second-card img {
    width: 190px; }
  .second-card h2 {
    font-size: 27px;
    font-family: "metropolisbold";
    margin-top: 26px;
    margin-bottom: 29px; }
  .second-card p {
    display: inline-block;
    font-size: 18px;
    font-family: "metropolisbold";
    color: #FF5634;
    line-height: 20px;
    align-items: center; }
  .second-card div {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .second-card div img {
      width: 17.28px;
      font-size: "metropolisbold"; }
  .second-card span {
    font-size: 20px;
    font-family: "metropolismedium";
    color: #656565;
    line-height: 22px; }

.fourth-section {
  background-color: #FAFAFA; }

.fourth-container {
  padding-top: 200px;
  padding-bottom: 200px; }

.second-card-body {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 28px; }

.footer-first-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 84px;
  margin-bottom: 101px; }
  .footer-first-section img {
    width: 200px; }
  .footer-first-section p {
    margin-top: 24px;
    color: #656565;
    font-family: "metropolisregular";
    font-size: 18px;
    line-height: 30.01px; }
  .footer-first-section .btn {
    margin-left: 26px; }

.app img {
  width: 19.2px;
  margin-right: 10px;
  vertical-align: middle; }

.footer-second-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 120px; }
  .footer-second-section h3 {
    font-family: "metropolisbold";
    font-size: 20px;
    color: #121212;
    margin-bottom: 39px; }
  .footer-second-section ul li {
    color: #656565;
    font-family: "metropolisregular";
    font-size: 18px;
    margin-bottom: 18px; }
  .footer-second-section .utility ul li:last-child {
    color: #FF5634;
    font-family: "metropolisbold";
    font-size: 18px;
    text-decoration: underline; }

.menu ul {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 18px; }

.available img {
  width: 78px;
  margin-right: 18px; }

.available h2 {
  color: #121212;
  font-size: 17px;
  font-family: "metropolisbold";
  line-height: 24px; }

.available .grid-temp {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 29px; }

.grid-temp div {
  display: flex;
  align-items: center; }

.footer-third-section {
  text-align: center;
  font-family: "metropolisregular";
  font-size: 18px;
  list-style: 30.01px;
  margin-top: 33px;
  margin-bottom: 32px; }
  .footer-third-section h3 {
    color: #656565; }
  .footer-third-section span {
    color: #FF5634; }
